apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: portfolio-data
  namespace: kuchizu-portfolio
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi
